@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700;900&family=Roboto:wght@300;400;500&display=swap');

/* Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: 'Orbitron', monospace;
  background-color: #1a1a2e;
  color: #eaeaea;
}

button {
  font-family: 'Orbitron';
  cursor: pointer;
  font-size: 0.8rem;
  border-color: gray;
  color: #1a1a2e;
}

button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

button:hover,
button:focus {
  border-color: #04adb1;
  border-style: solid;
  box-shadow: 0 0 10px #00bfff;
}

.border {
  border: 3px solid #8b9dc3;
  border-radius: 0.5rem;
}

/* Main container */
.container {
  border: 4px solid #8b9dc3;
  background-color: #2c3e50;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 12%;
  padding: 2rem;
  gap: 0.8rem;
}

.title {
  letter-spacing: 1px;
  color: #ffffff;
  flex: 1;
}

/* Controls container */
.controls {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.5rem 0.4rem;
  color: #ffffff;;
}

.controls > p:first-child,
.score-board > p:first-child {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 1px;
}

.choice-buttons {
  display: flex;
  justify-content: space-between;
}

.choice-button {
  padding: 0.1rem 1.6rem;
  border-radius: 5px;
}

/* Choice display */
.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.choices {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1rem;
}

.winner {
  background: #e74c3c;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

/* Score Board */
.score-board {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 1rem;
  font-family: 'Orbitron', monospace;
}

.score-board > p:first-child {
  text-transform: uppercase;
}

.score-board > .card {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.player-score-display,
.computer-score-display {
  display: flex;
  justify-content: space-between;
}

.reset {
  display: flex;
  justify-content: space-around;
}

#reset-btn {
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.2rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}
